<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    
  </configSections>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="host=localhost" />
    <add name="CrisisManagementContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=CrisisManagement;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error-Workflow" />
  <appSettings>
    <add key="EndpointName" value="CrisisWorkflow" />
    <add key="AssembliesToBeScanned"
     value="Contracts;Workflow;DatabaseLayer;NServiceBus.Core;NServiceBus.ObjectBuilder.StructureMap;NServiceBus.Transports.RabbitMQ" />
    <add key="LogFolder" value="C:\Logs\"/>
  </appSettings>
  
</configuration>