<div ng-controller="IncidentCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Incident Details</h1>
        </div>
        <form class="form-horizontal panel-body">
            <div class="form-group">
                <label for="incidentName" class="col-sm-2 control-label">Heading</label>
                <div class="col-sm-10"><input id="incidentName" class="form-control" /></div>
            </div>
            <div class="form-group">
                <label for="incidentLocation" class="col-sm-2 control-label">Location</label>
                <div class="col-sm-10"><input id="incidentLocation" class="form-control col-sm-10" /></div>
                </div>
            <div class="form-group">
                <label for="incidentEmployees" class="col-sm-2 control-label">Affected Employees</label>
                <div class="col-sm-10"><input id="incidentEmployees" class="form-control col-sm-10" /></div>
                </div>
            <div class="form-group">
                <label for="incidentDescription" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10"><textarea id="incidentDescription" class="form-control col-sm-10"></textarea></div>
            </div>

            <div class="center-block">
                <a href="" class="btn btn-danger" ng-click="loadHome()">Cancel</a>
                <a href="" class="btn btn-success" ng-click="loadIncident()">Start Incident Workflow</a>
            </div>
        </form>
    </div>
</div>