<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="CrisisManagement">
<head>
    <title></title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Navigation/CrisisSheet.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.9.0.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
</head>
<body ng-controller="NavCtrl">
    <div class="navbar navbar-inverse container">
        <ul class="nav navbar-nav text-center">
            <li ng-class="navClass('home')"><a href="" ng-click="loadHome()">Home</a></li>
            <li ng-class="navClass('contacts')"><a href="" ng-click="loadContact()">Contacts</a></li>
        </ul>
    </div>
    <div ng-view class="container panel panel-body"></div>
    <script src="Navigation/Routes.js"></script>
    <script src="Navigation/NavContoller.js"></script>
    <script src="HomeController.js"></script>
    <script src="ContactController.js"></script>
    <script src="IncidentController.js"></script>
</body>
</html>
